@keyframes move {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.test {
  width: 100px;
  height: 100px;
  background: black;
  animation: move 2s linear infinite;
}
